div#pulldown ⬇
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='/') Challenge List
			.nav-collapse
				ul.nav
					li.active
						a(href='/post') Post
					li
						a(href='/#1') C1
					li
						a(href='/#2') C2