#timeline-embed
script(type='text/javascript')
	var timeline_config = {
		width: "100%",
		height: "100%",
		source: 'https://docs.google.com/spreadsheet/pub?key=0Alexe4FszAhOdDhvSW5CeXdWRFJKbWFIeEkwOENtdVE&single=true&gid=0&output=html',
		font: 'Bevan-PotanoSans',
		css: '/less/timeline.css',
		//- css: '/less/timeline-dark.css',
		hash_bookmark: true,
		maptype: 'watercolor',
	};